@import "../../node_modules/bootstrap/scss/bootstrap.scss";
* {
  margin: 0;
  padding: 0;
}
body {
  background: #121212;
}
.fullContent {
  margin: 0 auto;
  max-width: 75%;
  color: white;
  background: #121212;
  font-family: Arial, Helvetica, sans-serif;
}
.banner {
  width: 100%;
  margin: 10px 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
  height: 70px;
  font-size: 16px;
  color: white;
}
.giphyLogo {
  max-height: 70%;
}
input {
  width: 94%;
  padding: 15px 0px;
}
p {
  text-align: left;
  font-size: 12px;
  color: #a6a6a6;
}
form {
  display: flex;
  flex-grow: 1;
}
.pinkButton {
  background-image: url("../pug/pinksearch.png");
  height: auto;
  border: none;
  width: 60px;
  background-size: cover;
}
.gifRow {
  width: 100%;
  display: relative;
  //following code recommended by David
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 0 0 50px 0;
}
.gifStoryRow {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.gifSmall {
  height: 150px;
}
.gifLarge {
  height: 300px;
}
h1 {
  text-align: left;
  margin: 0 0 20px 0;
}
.bg-dark {
  background: #121212 !important;
}
.nav-item:hover {
  background: purple;
}
.bigGifContainer {
  position: relative;
  text-align: left;
  color: white;
  font-size: 20px;
}
.bottom-left {
  position: absolute;
  bottom: 30px;
  left: 16px;
}
.bottom-left-time {
  position: absolute;
  bottom: 10px;
  left: 16px;
  font-size: 16px;
  color: #a6a6a6;
}
